@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: "Poppins", sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}
.home{
    height: 80vh;
    display: flex;
    justify-content: left;
    padding-left: 8rem;
    padding-top: 6rem;
}
.home-content{
    min-width: none;

}
.home-content img{
    width: 35%;
    border-radius: 450px;
    margin-left: 45rem;
    position: absolute;
    
}
.home-content img:hover{
    background-color: transparent;
    border: 2px solid aqua;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: rgb(38, 109, 109);
    letter-spacing: 3px;
}
.home-content h3 {
    font-size: 50px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(45, 66, 66);
    font-display: center;
    letter-spacing: 3px;
}
.home-content h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(18, 84, 84);
    letter-spacing: 3px;
}
.home-content p{
    font-size: large;
    font-style: normal;
    font-weight: 250;
    color: black;
    display: inline;
    text-align: justify;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.vivid-button {
    background-color:rgb(45, 66, 66);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 8rem;
    bottom: 18%;
  }

  .vivid-button:hover {
    background-color: none;
  }
  
#about-section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  border-radius: 2rem;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;

}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inner{
    padding-top: 20px;
}
.header{
text-align: center;
color: #fff;
padding: 1rem;
position: relative;
}
.header h1{
    color: black;
    font-size: 3rem;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem 5px;
    font-size: 0.8rem;
}
.skills{
    border-radius: 5px;
    height: 100vh;
}
.skill-box {
    border: 2px solid black;
    padding: 1rem;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    color:black;
    cursor:pointer;
}

    
.skill-box:hover .img{
    transform: translateY(-10px);
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom:0.5rem ;
    position: relative;
}

.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    display: flex;
    border: 2px solid rgb(57, 55, 55);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.skill-title h3{
  color: black;  
  margin: 0.5rem;
}
.skill-icon{
    width: 55px;
    z-index:2 ;
}
@media screen and (max-width: 990px){
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}
@media screen and (max-width: 650px){
    .container{
        grid-template-columns: 1fr;
        padding: 2rem 50px;
    }
}
.contacts {
    max-width: 600px;
    margin: 0 auto;
    height: 50vh;
}

.contact-form {
    padding: 50px 0;

}

form {
    background-color: rgb(38, 109, 109);
    padding: 30px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: white;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    margin-top: 10px;
}

input:focus, textarea:focus {
    outline: none;
    border-bottom: 2px solid aqua;
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    pointer-events: none;
    transition: 0.3s ease-out;
}

input:valid + label, textarea:valid + label {
    top: -15px;
    font-size: 15px;
    color: white;
}

button {
    background-color: rgb(85, 85, 85);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #495057;
}
 .footer {
    text-align: center;
    padding: 5px;
    background-color: 191919;
    color: white;
    
  }